a {
    text-decoration: none;
}
.nav li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
    color: #000000;
    opacity: 0.75;
    font-size: 13px;
}
.right{
    float: right;
    padding-right: 40px;
}

body, a, p{
    font-family: arial,sans-serif
}